<div class="container">
    <div class="card m-5">
        <div class="card-header text-center">
            SignIn
        </div>
        <div class="card-body">
            <form (ngSubmit)="signIn(f)" #f="ngForm">
                <div class="form-field row p-2">
                    <label class="col-md-4" for="username">Username</label>
                    <input ngModel class="col-md-8 input-box" type="text" name="username" id="username">
                </div>
                <div class="form-field row p-2">
                    <label class="col-md-4" for="password">Password</label>
                    <input ngModel class="col-md-8 input-box" type="password" name="password" id="password">
                </div>
                <div class="form-field mt-2">
                    <input class="btn submit-btn col-md-12" type="submit" value="Sign In">
                </div>
            </form>
        </div>
    </div>
</div>